* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Segoe UI, Roboto, Ubuntu, sans-serif;
    background-color: black;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

header .logo svg {
    fill: rgb(229, 9, 20);
    height: 40px;
}

.headerDivTwo {
    text-align: right;
    width: 738px;
}

header div + div {
    /*text-align: right;*/
}

header a.button {
    display: inline-block;
    background-color: rgb(229, 9, 20);
    color: white;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 3px;
}

select {
    background: transparent;
    color: white;
    padding: 6px 6px 6px 17px;
    border-radius: 3px;
}

.select {
    display: inline-block;
    margin-right: 30px;
}

.select svg {
    height: 20px;
    fill: white;
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
}

.splash {
    position: relative;
}

.background img {
    max-width: 100%;
    opacity: 0.6;
}

.gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    inset: 0;
}

.content {
    max-width: 655px;
    /*max-height: 295px;*/
    /*left: 50%;*/
    /*margin-left: 325px;*/
    position: absolute;
    inset: 0;
    left: 50%;
    margin-left: -327.5px;
    display: grid;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 16px;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 1.5rem;
}

form {
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr max-content;
}

div.splash input {
    padding: 15px 10px;
    font-size: 1.2rem;
    width: 100%;
    /*border-radius: 3px;*/
}

div.splash input ~ span {
    position: absolute;
    left: 10px;
    top: 19px;
    z-index: 5;
    color: #ddd;
    transition: all 0.3s ease;
    /*pointer-events: none;*/
    border-radius: 3px;
}

div.splash input:focus {
    padding-top: 14px;
    padding-bottom: 6px;
}

.getStartedButton {
    font-size: 1.625rem;
    border: 0;
    /*height: 47px;*/
    /*width: 130px;*/
    background-color: rgb(229, 9, 20);
    color: white;
    border-radius: 3px;
    font-weight: bold;
    padding: 12px 26px;
}